.header{
    font-size:larger ;
}
.body.img{
    font-style: italic;
}
.grid{
    display:flex;
    flex-wrap: wrap;
}
.grid.img{
    border: 2px solid black;
    border-radius: 50px;;
}
.oragami{
    border-radius: 20px;
    background-color: whitesmoke;

    width: 310px;
    font-family: fantasy;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 50x;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
background-color: blueviolet;
}
